@import "tailwindcss/base";
@import "tailwindcss/components";

.h1-stroke-effect {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@import "tailwindcss/utilities";
